@use "input-range-variables" as inputRangeVars;

.input-range__label {
  color: inputRangeVars.$input-range-label-color;
  font-family: inputRangeVars.$input-range-font-family;
  font-size: inputRangeVars.$input-range-label-font-size;
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
  bottom: inputRangeVars.$input-range-label-position-bottom;
  position: absolute;
}

.input-range__label--min {
  left: 0;
}

.input-range__label--max {
  right: 0;
}

.input-range__label--value {
  position: absolute;
  top: inputRangeVars.$input-range-label-value-position-top;
}
