@use "input-range-variables" as inputRangeVars;
@use "input-range-slider";
@use "input-range-label";
@use "input-range-label-container";
@use "input-range-track";

.input-range {
  height: inputRangeVars.$input-range-slider-height;
  position: relative;
  width: 100%;
}
